<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')  %> 
<body>
    <%- include('../partials/header')  %> 

    <main>
        <form action="">
            <h2>Agregar Producto</h2>
        </form>
    </main>

    <%- include('../partials/footer')  %> 
</body>
</html>