<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')  %> 
<body>
    <%- include('../partials/header')  %> 

    <main class="agregar-container">
        <form action="" class="formAdd">
            <h2>Agregar Producto</h2>
            <p>Titulo del producto</p>
            <input type="text" name="nombre">
            <p>Categoria</p>
            <select name="Categoria">
                <option value="Manga">Manga</option>
                <option value="Comic">Comic</option>
                <option value="Libro">Libro</option>
            </select>
            <p>Precio</p>
            <input type="number" name="precio">
            <p>Portada</p>
            <input type="file" name="portada" accept=".png, .jpeg">
            <p>Descripcion</p>
            <textarea name="descripcion" id="" cols="30" rows="5"></textarea>
            <p>Estado</p>
            <select name="estado">
                <option value="En Curso">En Curso</option>
                <option value="Finalizado">Finalizado</option>
            </select>
            <div class="botones-agregar">
                <input type="submit" value="Agregar">
                <a href="/src/views/products/editarProducto.ejs"><button>Editar Producto</button></a>
            </div>
            

        </form>
    </main>

    <%- include('../partials/footer')  %> 
</body>
</html>