<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
    <body class="body-login">
    <%- include('../partials/header') %>

    <div class="historial-menu">
        <ul class="breadcrumb">
            <li><a href="index.html"></a>Home</li>
            <li><a href="#"></a>Manga</li>
            <li><a href="#"></a>Spy x Family serie</li>
            <li id="principal"><a href="productDetail.html"></a>Spy x Family 01</li>
        </ul>
    </div>
    
    <section class="detallesDelProd">
        <div class="spyFma">
            <img src="/images/spyxfamily01.jpg" alt="Spy x Family N°1">
            
        </div>
    
        <div class="detalle-prod">
            <div class="titulo">
                <h1>Spy x Family 01</h1>
                <p>Tatsuya Endō</p>
                <p>$550</p>
            </div>
        
        
        <div class="estado">
            <h4 data-text="Estado: En curso...">Estado: En curso...</h4>
            <ul>
            <p>Genero:</p>
            <li>Shonen</li>
            </ul>
        </div>

        <div class="agregarCarrito">
            <input type="submit" class="btn2" value="Agregar carrito">
            <i class="fas fa-shopping-cart"></i>
        </div>

        <h3>ENVÍO GRATIS:</h3>

        <h4> <i class="fas fa-share-alt"></i> COMPARTIR EN: </h4>

        <section class="redes">
        <div class="wrapper">
            <div class="botton">
                <div class="icon"><i class="fab fa-whatsapp"></i></div>
                <span>Whatsapp</span>
            </div>
            <div class="botton">
                <div class="icon"><i class="fab fa-instagram" _mstvisible="2"></i></i></div>
                <span>Instagram</span>
            </div>
            <div class="botton">
                <div class="icon"><i class="fab fa-facebook"></i></i></div>
                <span>Facebook</span>
            </div>
            <div class="botton">
                <div class="icon"><i class="fab fa-twitter"></i></div>
                <span>Twitter</span>
            </div>
        </div>
    </section>

        <article>
        <p>Los países de Westalis y Ostania libran desde hace años una guerra 
        fría donde el espionaje y los asesinatos son moneda corriente. 
        El inigualable espía conocido como “Twilight” es el mejor agente de Westalis 
        que tiene por objetivo encargarse del poderoso Donovan Desmond. Lo jodido del asunto es
        que Desmond es un ermitaño antisocial cuyas únicas apariciones públicas son en los actos 
        escolares de su hijo. Twilight deberá acercarse al objetivo lo suficiente como para desbaratar su 
        agenda secreta. Para eso, sólo deberá simular que es un hombre de familia… con el pequeño detalle 
        de que sólo tiene 7 días para formar la familia ideal.</p>
        </article>
        <span class="descrip-oculto">Es por eso que bajo la identidad del psiquiatra Loid Forger, Twilight reclutará a Yor Briar, una civil ostaniana que quiere tener bajo perfil y Anya, una huerfanita que sólo busca una familia cariñosa, para hacer las partes de esposa e hija respectivamente. Pero resulta que este par tampoco es nada normal, especialmente si tenemos en cuenta que Yor es una asesina profesional buscada por ambos bandos y Anya es una prófuga de un laboratorio secreto donde consiguió poderes telepáticos.
            Es así como los tres sapos de otro pozo deberán cumplir con sus respectivos objetivos, por obligación o por deseo, mientras intentan llevar una vida cotidiana lo más normal que les permita sus situaciones.
        </span>

        <div class="Formato-libro">
        <ul>
            <li>Formato Tankobon</li>
            <li>Tamaño: 13cm x 18cm</li>
            <li>Sobrecubierta con tinta especial metalizado</li>
            <li>Incluye paginas a color</li>
        </ul>
        </div>

    </div>
    </section>

    <main>
        <h2>PRODUCTOS RELACIONADOS</h2>
        <section class="Productos-relacionados">
            
            <article>
                <img src="images/spyxfamily02.jpg" alt="spyxfamily02">
                <div class="main-product">
                    
                    <h3>Spy x Family 02 <i class="fas fa-book"></i></h3>
                    <p>$550</p>
                    <form action="/views/home.html" method="POST">
                    <input type="submit" class="btn3" value="Agregar al carrito">
                    </form>
                </div>
            </article>

            <article>
                <img src="images/spyxfamily03.jpg" alt="spyxfamily02">
                <div class="main-product">
                    <h3>Spy x Family 03 <i class="fas fa-book"></i></h3>
                    <p>$550</p>
                    <form action="/views/home.html" method="POST">
                    <input type="submit" class="btn3" value="Agregar al carrito">
                    </form>
                </div>
            </article>

            <article>
                <img src="images/spyxfamily06.jpg" alt="spyxfamily02">
                <div class="main-product">
                    
                    <h3>Spy x Family 06 <i class="fas fa-book"> </i></h3>
                    <p>$550</p>
                    <form action="/views/home.html" method="POST">
                    <input type="submit" class="btn3" value="Agregar al carrito">
                    </form>
                </div>
            </article>

            <article>
                <img src="images/spyxfamily07.jpg" alt="spyxfamily02">
                <div class="main-product">
                    
                    <h3>Spy x Family 07 <i class="fas fa-book"></i></h3>
                    <p>$550</p>
                    <form action="/views/home.html" method="POST">
                    <input type="submit" class="btn3" value="Agregar al carrito">
                    </form>
                </div>
            </article>
        </section>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>