*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    background-color: #F4F6F6;
    font-family: 'Bebas Neue', cursive;
    
}
header{
    background-color: #ecebe4;
    width: 100%;
    
    
    padding: 10px 4%;
}
section.top-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.logo{
    text-align: center;
    
}

.logo img{
    width: 45px;
    height: 45px;
    max-width: 250px;
    
}

.menu-oculto{
    display: none;
    width: 80%;
    justify-content: space-between;
    

}
.opciones-menu, .logeo-menu{
    display: flex;
    justify-content: space-between;
}
.opciones-menu li, .logeo-menu li{
    list-style: none;
    
}
.opciones-menu a, .logeo-menu a{
    text-decoration: none;
}


.opciones-menu li{
    margin-right: 15px;
}

.logeo-menu li{
    margin-right: 10px;
}
.logeo-menu{
    justify-content: flex-end;
    margin-left: 70px;
}
.menu{
    background-color: #DADDD8;
    font-size: 25px;
    padding: 5px 10px;
    color:#3a3846;
    border-radius: 10px;
}

.carrito a i{
    font-size: 25px;
    color:#3a3846;
    background-color: #DADDD8;
    padding: 10px;
    border-radius: 10px;
    
}


.barra-busqueda{
    display: flex;
    align-items: center;
    justify-content: center;
}
.barra-busqueda input{
    width: 80%;
    height: 40px;
    padding: 0px 20px;
    font-size: 1rem;
    color: #170312;
    /*???*/
    outline: none;
    border: 1px solid #18a999;
    border-radius: 10px;

}
.btn{
    margin-left: 2px;
    background:#18a999 ;
    position: relative;
    border-radius: 10px;
    padding: 5px 11px;
    font-size: 20px;
    height: 40px;
    color:#F4F6F6;
}


/*Historial de Menu*/
div.historial-menu{
    margin:25px 0px;

}
.breadcrumb{
    margin-top: 15px;
    padding: 8px 15px;
    width: 100%;
    margin: 20px auto 0 auto;
    background: none;
    text-align: center;
    list-style: none;
}
#principal{
    color:#170312;
}
.breadcrumb li{
    display: inline-block;
    color: rgba(44, 62, 80, 0.8);
}
.breadcrumb li::after{
    content: " > ";
    color:#170312;
}

div.spyFma{

    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
    
    
}
.spyFma img{
    width: 90%;
    margin-bottom: 20px;
    box-shadow: -10px 5px 10px rgb(0 0 0 / 30%);
}
.detalle-prod{
    padding: 15px;
    margin-left: 10px;
}

div.titulo h1{
    font-size: 3em;
    color:#170312;
}
div.titulo p{
    font-size: 2em;
    font-weight: 100;
    color:#2c5364;
}
.estado h4{
    font-size: 2em;
    color:#F4F6F6;
    position: relative;
    -webkit-text-stroke: 0.1vw #2c5364;
    text-transform: uppercase;
}
.estado h4:before{
    content:attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width:0;
    height: 100%;
    color:#18a999;
    -webkit-text-stroke: 0.1vw #2c5364;
    border-right: 2px solid #18a999;
    overflow: hidden;
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
div.agregarCarrito{
    display:flex;
    position: relative;
    justify-content: baseline;
    align-items: center;
    margin: 30px 0px;
}
div.agregarCarrito input{
    width: 340px;
    height: 45px;
    font-size: 23px;
    font-family: 'Bebas Neue';
    background-color: #18a999;
    color:#F4F6F6;
    outline: none;
    border: 1px solid #DADDD8;
    border-radius: 10px;
    transition: all 480ms;
    position: relative;
    cursor:pointer;
}
div.agregarCarrito:after{
    position: absolute;
    bottom:0;
    left:0;
    content: "";
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
    width: 100%;
    max-width: 330px;
    height: 70%;
    /*Desenfoque*/
    filter:blur(8px);
    z-index: -1;
}
div.agregarCarrito i{
    position: absolute;
    left: 0;
    padding: 13px;
    color:#F4F6F6;
}
div.agregarCarrito input:hover{
    background-color: #2980b9; 
}
section.detallesDelProd h3{
    font-size: 1.5em;
    color:#170312;
    margin-bottom: 40px;
    font-weight: 200;
}
section.detallesDelProd h3::after{
    content: " Superando los $5000";
    color: #50534e;
    font-size: 1em;
    font-weight: 50;
}
section.detallesDelProd h4{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 100;
    
}

.wrapper .botton{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 10 10 rgb(0,0,0,0.1);
    overflow: hidden;
    transition: all 0.3s ease-out;
}
.wrapper .botton:hover{
    width: 200px;
}
.wrapper .botton .icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    line-height: 60px;
    text-align: center;
    transition: all 0.3s ease-out;
}
.wrapper .botton .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

div.botton span {
    font-size: 1.5em;
    margin-left: 10px;
}

.wrapper .botton .icon span{
    font-size: 20px;
    font-weight: 300px;
    line-height: 60px;
    margin-left: 10px;
}
.wrapper .botton:hover .icon i{
    color: #fff;
}

.wrapper .botton:nth-child(1):hover .icon{
    background-color: #00bb2d;
}
.wrapper .botton:nth-child(2):hover .icon{
    background: linear-gradient(to right, #ec008c, #fc6767);
}
.wrapper .botton:nth-child(3):hover .icon{
    background-color: #4267B2;
}
.wrapper .botton:nth-child(4):hover .icon{
    background-color: #00acee;
}

.detalle-prod article{
    font-size: 14px;
    font-weight: 100;
    color:#c2c5c0;
    margin: 20px 0;
    text-align: justify;
}

span.descrip-oculto{
    display: none;
    color:#c2c5c0;
}

div.Formato-libro{
    margin: 25px;
}



/*Carrusel productos Relacionados*/

main h2{
    font-size: 35px;
    text-align: center;
    margin:20px 0;
    font-weight:400;

}
main section.Productos-relacionados{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;

}
main section.Productos-relacionados article{
    outline: none;
    margin: 20px 5px;
    color:#18A999;
    width:45%;
    position: relative;
    transition: all 480ms;
}
main section.Productos-relacionados article:hover img{
    opacity: 0.5;
}
main section.Productos-relacionados article:after{
    position: absolute;
    bottom:0;
    left:0;
    content: "";
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
    width: 100%;
    height: 100%;
    /*Desenfoque*/
    filter:blur(8px);
    z-index: -1;
}
article div.main-product{
    background: #F4F6F6;
    border-radius: 7PX;
    padding: 5px;
}


article div.main-product h3{
    padding-top:5px ;
    margin:0 4px;
    font-weight: 300;
    color:#170312;
}
article div.main-product i{
    color:#18a999;
    margin-left: 10%;
}
article div.main-product input{
    width: 90%;
    height: 25px;
    background-color: #18a999;
    color:#F4F6F6;
    outline: none;
    border: 1px solid #18a999;
    border-radius: 5px;
    transition:all 480ms;
    cursor:pointer;
}
article div.main-product input:hover{
    box-shadow: -10px 5px 10px rgb(0 0 0 / 30%);
}
article img{
    width: 100%
}





/*En esta parte se realiza las modificaciones para el footer*/

footer {
    background: #ecebe4;
    width: 100%;
    padding: 50px 4%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec-descrip{
    margin-right: 30px;
    margin-bottom: 20px;
}

footer .container  h2 {
    position: relative;
    /*color:#F4F6F6;*/
    color: #170312;
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 2.2em;
}
footer .container h2:before{
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: -5px;
    left: 0px;
    background: #ED1C24;
}
footer p{
    color:#18a999;
}
.sci{
    margin-top: 25px;
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #18A999;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.sci li a:hover{
    background: #2c5364;
}
.sci li a i{
    color:#F4F6F6;
    font-size: 20px;
}
.Mas-Info{
    
    position: relative;
    margin-bottom: 20px;
}
.Mas-Info  ul li{
    list-style: none;
}
.Mas-Info  ul li a{
    text-decoration: none;
    color:#18a999;
    margin-bottom: 10px;
    display: inline-block;
}
.Mas-Info  ul li a:hover{
    color:#2c5364;
}

.medios-pago{
    margin-bottom: 20px;
}
.medios-pago article i{
    font-size: 35px;
    color: #ED1C24;
    display: inline-block;
    margin-right: 5px;  
}
section.copyright{
    background: #ecebe4;
    padding: 5px;
    width: 100%;
}
section.copyright p{
    text-align: center;
}

/* Estilos del login */

.login-container{
    height: 90%;
    width: 90%;
    margin: 3% auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.login-info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.image-container{
    padding: 2%;
    box-sizing: border-box;
    display: none;
}
.titulo{
    text-transform: capitalize;
    
    font-weight: 600;
    letter-spacing: 1px;
    color: #9089cc;
}

.social-login{
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.social-login-element{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    margin: 2% 0;
    padding: 7px;
    height: 3.75rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #674baf
}

.social-login-element img{
    width: 25px;
    height: 25px;
    position: relative;
    top: 0;
    left: -5px;
}

.social-login-element:hover{
    cursor: pointer;
    background-color: #fff;
}

.login-info-container > p{
    font-size: 1.25em;
}

.formulario{
    height: 80%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formulario input, .formulario button{
    width: 90%;
    height: 20px;
    font-size: 1em;
}

.formulario input{
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.formulario input:hover{
    border: 2px solid #674baf;
}
.formulario input:focus{
    outline: none;
}
.formulario button{
    border: none;
    width: 80%;
    height: auto;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    background-color: #674baf;
    cursor: pointer;
    padding: 7px;
    box-sizing: border-box;
}

.formulario p{
    margin:0;

}
.formulario a{
    color:#ad79ad;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
/* Terminan los estilos del login */

/* Estilos del register */
.main-register{
    width: 100%;
}
.form-register{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    padding: 1% 3%;
    margin: 2% auto;
    background-color: white;
    border-radius: 5px;
}
.campo1, .campo2, .campo3{
    display: flex;
    flex-direction: column   
}

.campo1 input, .campo2 input{
    width: 100%;
    height: 25px;
    border: 1px solid #7d59d6;
    border-radius: 5px;
    margin: 10px 0;
    outline: none;
}
.campo1 label, .campo2 label{
    color: #4d4b53;
    font-weight: 550;
}
.campo1 input:hover, .campo2 input:hover{
    border-bottom: 2px solid #4d08fa;
}
.campo2 input[type="password"]{
    order: -1;
}
.cc{
    order:-1;
}

.form-register > input{
    margin-top: 10px;
    background-color:#7d59d6 ;
    border: none;
    color: white;
    padding: 7px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}
.form-register > input:hover{
    background-color:#6a33f5 ;
}
.campo3 label{
    font-size: 1.2em;
    color:#3a3846;
    font-weight: 550;
}
.campo3{
    color: #3a3846;
}
.campo3 input{
    margin: 10px 1px;
}

.form-register h2{
    
    color:#3a3846;
    margin-bottom: 10px;
}

/* Fin de los estilos del register */

/************Estilos del HOME***********************/

/******SLIDER*******/
.slider{
    width: 100%;
    height: 15rem;
    overflow: hidden;
}
.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
    height: inherit;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
    height: 100%;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

/************Fin de los Estilos del HOME************/


/* Estilos del carrito de compras */


.item_container {
    padding: 10px 0px 10px 0px;
}

.titleCart {
    font-size: 1.2rem;
    font-weight: bold;
    color: #3a3846;
    text-align: center;
}

.productCart {
    display: flex;
    margin: auto;
    justify-content: stretch;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid rgb(119, 119, 119);
}

.delete {
    margin-left: 2px;
    background: #18a999;
    bottom: 0;
    border-radius: 10px;
    padding: 5px 11px;
    font-size: 15px;
    height: 30px;
    color: #f6f4f4;
    border: none;
}

.btn_delete {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 25%;
}

.product_units {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;

}

.product_units select {
    width: 40%;
    padding: 5px;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 5px;
}

.btn_delete button:hover {
    background-color: red;
    cursor: pointer;
}
.product_infoCart {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    width: 55%;
    height: 55%;
}

.productCart h2 {
    text-align: left;
    margin: auto;
    width: 100%;
    
    color: black;
    width: 100%;

}

.img_product img {
    width: 100%;
    height: auto;
    border: 2px solid rgb(119, 119, 119);
}

.img_product {
    width: 20%;
    height: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.price {
    text-align: left;
}
.product_units input {
    width: 60px;
    height: 30px;
    float: left;
    display: block;
    border: 1px solid #eee;
    text-align: center;
}

.product_units {
    align-self: left;
    float: left;
}

.subtotal {
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    padding: 5px;
    border: 1px solid black;
    
}

.subtotal p {
    text-align: left;
    justify-content: left;
    width: 100%;
    text-align: center;
}
.envio {
    width: 100%;
    text-align: center;

}
.form_buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;
    
}
.form_buy  button {
    border: none;
    margin-left: 2px;
    background: #18a999;
    position: relative;
    border-radius: 10px;
    padding: 5px 11px;
    font-size: 20px;
    height: 40px;
    color: #f6f4f4;
}

.form_buy  button:hover {
    background-color: #2c5364;
    cursor: pointer;
}
.send_options {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    padding: 10px;
    border: 1px solid black;
    margin: 0px 5vw;
    height: 100%;
}
.send{
    width: 60%;
    height: 30px;
}
/* Fin de los estilos del carrito de compras */
@media (min-width: 760px) {

    /*CARGANDO ESTILOS DE PRODUCTO*/
    div.titulo p{
        margin:10px 0;
        font-size: 2.4em;
    }
    div.agregarCarrito input {
        width: 100%;
    }
    div.agregarCarrito i {
        font-size: 20px;
        z-index: 1000;
    }
    div.Formato-libro ul li{
        font-size: 18px;

    }
    /*Parte del articulo*/
    article div.main-product h3{
        font-size: 23px;
        padding-left:10px ;
    }
    article div.main-product p{
        font-size: 20px;
        padding-left:10px ;
        margin: 10px 0;
    }
    article div.main-product input{
        width: 98%;
        height: 35px;
        font-size: 19px;
    }



    div.spyFma{
        width: 90%;
    }
    div.detalle-prod{
        margin:45px;
    }
    main h2 {
        font-size: 45px;
        text-align: center;
        margin: 30px 0;
    }
    .detalle-prod article p{
        font-size: 17px;
    }
    span.descrip-oculto{
        display: block;
        font-size: 17px;
        text-align: justify;
    }

    main section.Productos-relacionados article {
        width: 310px;
    }
    
    article img {
        max-width: 310px;
    }
    /*----FIN----*/



    .logo{
        order: -1;
    }
    .menu{
        display: none;
    }
    .menu-oculto{
        display: flex;
    }

    .opciones-menu{
        width: 60%;
        justify-content: space-between;
    }
    
    .logeo-menu{
        width: 30%;
        justify-content: space-between;
    }

    /* Estilos del login para tablet */
    .social-login{
        
        flex-direction: row;
    }

    .formulario button, .formulario input{
        margin: 10px 0;
    }
    /* Fin de estilos del login  */

    /* Estilos del register para tablet */
    .campo3 label{
        text-align: center;
        
    }
    .opcionesregi{
        display: flex;
        justify-content: space-between;
        
    }
    .form-register h2{
        margin: 0;
        text-align: start;
        margin-bottom: 20px;
    }
    /* Fin de estilos del register */
    /* Estilos del carrito en tablet */
    .send_options {
        width: 25%;
    }
    .img_product {
        width: 20%;
        height: auto;
    }
    .btn_delete {
        display: flex;
        justify-content: right;
        width: 35%;
    }
    
    .price {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
    }
    
    .productCart {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: stretch;
    }
    .product_infoCart p, h2 {
        font-size: 4vw;
    }
    .subtotal{
        flex-direction: row;
    }
    /* fin de los estilos del carrito en tablet */
}

@media (min-width: 1000px){

    header{
        padding: 10px 4%;
    }

    .main-login{
        padding: 0px 100px;
    }

    .detallesDelProd{
        display:flex;
        justify-content: space-between;  
    }
    div.spyFma{
        width: 40%;
    }
    div.detalle-prod{
        width: 60%;
    }

    .logeo-menu{
        width: 25%;
    }

    /*Footer responsive*/
    footer .container .sec-descrip{
        width: 30%;
    }
    .Mas-Info{
        width: 30%;
    }
    .medios-pago{
        width: 30%;
    }

    /* Estilos del login para PC */
    .image-container{
        display: block;
        width: 50%;
    }
    .login-container{
        width: 100%;
        height: 500px;
    }
    .login-info-container{
        width: 50%;
    }
    /* Fin de los estilos del login para pc */

    /* Estilos del register para PC */
    .infouser{
        display: flex;
    }

    .campo1{
        width: 50%;
    }
    
    .campo2{
        width: 50%;
    }

    .campo1 input, .campo2 input{
        width: 90%;
    }

    .campo2 input[type="password"]{
        order: 0;
    }
    .cc{
        order:0;
    }

    .campo3{
        width: 90%;
    }

    /* Fin de los estilos del register para PC */

    /* Estilos del carrito en pc */
    .img_product {
        width: 20%;
        height: auto;
    }
    
    .subtotal {
        display: flex;
        margin: 0px 50px;
        justify-content: space-between;
        width: 90%;
        padding: 5px;
        border: 1px solid rgb(119, 119, 119);
    }
    .subtotal .envio {
        padding: 10px;
    }
    .subtotal p {
        padding: 10px 25px;
    }
    
    .price p {
        font-size: 5vw;
    }
    
    .productCart{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 0px 50px;
        justify-content: stretch;
        padding: 15px;
    }
    .product_infoCart {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        width: 55%;
        height: 55%;
        margin: auto;
    }

    .send_options {
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        justify-content: space-around;
        width: 20%;
        padding: 10px;
        border: 1px solid rgb(119, 119, 119);
        margin: 0px 50px;
    }
    .delete {
        margin-right: 20px;
        font-size: 2.5vw;
        width: 20%;
        height: auto;
    }
    /* Fin de los estilos del carrito en pc */
}

@media (min-width: 1200px){
    .breadcrumb{
        height: 50px;
    }
    .breadcrumb li{
        font-size: 18px;
    }
    .detallesDelProd{
        display:flex;
        justify-content: space-between; 
        margin: 0 50px; 
    }
    div.spyFma{
        width: 40%;
        height: 600px;
    }
    div.detalle-prod{
        margin-top: 0px;
        padding-top: 0px;
    }
    div.detalle-prod{
        width: 60%;
    }
    /*Articulos */
    main section.Productos-relacionados{
        margin:35px;
    }
    main section.Productos-relacionados article {
        width: 250px;
    }
    article div.main-product h3{
        font-size: 27px;
    }
    article div.main-product p {
        font-size: 25px;
    }
}
