<header>
    <section class="top-header">
      <nav class="menu-oculto">
        <ul class="opciones-menu">
          <li><a href="#">Manga</a></li>
          <li><a href="#">Comics</a></li>
          <li><a href="#">Libros</a></li>
          <li><a href="#">Merchandising</a></li>
        </ul>

        <ul class="logeo-menu">
          <li><a href="/register">Creá tu cuenta</a></li>
          <li><a href="/login">Inicia sesión</a></li>
        </ul>
      </nav>
      <div class="menu">
        <i class="fa fa-bars burger"></i>
      </div>
      <div class="logo">
        <a href="/"
          ><img src="images/dia-mundial-del-libro.png" alt="Logo"
        /></a>
        <p>BookBuster</p>
      </div>
      <div class="carrito">
        <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
      </div>
    </section>
    <div class="barra-busqueda">
      <input
        type="text"
        placeholder="Buscar Libros por palabra clave / titulo / autor / ISBN"
        required
      />
      <div class="btn">
        <i class="fab fa-sistrix"></i>
      </div>
    </div>
  </header>